.navbar {
    background-color:#6dc3d3;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-title {
    margin-right: auto;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-left: 1800px; /* Push the button to the right */
}

.logout-button:hover {
    background-color: #c82333;
}
